{:global {:logging-config "/Users/pguillebert/cauchy/conf/logging.xml"}
 :riemann {:host "localhost"}
 :prometheus {:pushgateway "localhost:9091"}
 :defaults {:tags ["devel" "appfoo"] ;;riemann style
            :labels {
              :app "my_app"
              :env "prod"
            } ;;prometheus style
  }

}
